section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Was ist neu im Web?
        h3.section-subheading.text-muted Auch diesen April treffen sich wieder Interessierte aus Wirtschaft, NGOs und der FH
    .row
      .col-md-8.col-md-offset-2
        .fluid-width-video-wrapper
          iframe(
            width="640",
            height="360",
            src="//www.youtube-nocookie.com/embed/jjm8lmZwzT0?rel=0",
            frameborder="0",
            allowfullscreen
          )
    br
    br
    .row
      .col-md-8.col-md-offset-2
        include:markdown about.md

    .row
      .col-md-8.col-md-offset-2
        .lanyrd-target-schedule
          a(
            href='http://lanyrd.com/2016/salzburgwebdev/schedule/',
            class='lanyrd-schedule',
            data-lanyrd-nolink,
            data-lanyrd-nostyles,
          )
